.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.address-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.address-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}

.address-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.address-container > form > h5 {
  margin-bottom: 5px;
}

.address-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border: 1px solid black;
  border-radius: 6px;
}

.address-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.address-save-btn {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}

.react-tel-input {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 6px;
}

.react-tel-input .form-control {
  border: none;
  border-radius: 6px;
}
